.member {
	height: 12%;
	max-height: 123px;
	min-height: 70px;
	display: flex;
	justify-content: flex-start;
	.btn {
		border: 3px solid #fff;
		height: 100%;
		font-weight: 600;
		text-transform: uppercase;
		font-weight: 600;
		border: 0;
		outline: 0;
		font-size: 1em;
		&:hover { opacity: .8; }
	}

	.btn1 {
		background: rgb(32, 55, 71);
		width: calc(50% + 20px);
	}

	.btn2 {
		background: rgb(57, 208, 131);
		width: calc(50% - 20px);
		position: relative;
		&:before {
			content: '';
			position: absolute;
			display: block;
			height: 100%;
			width: 44px;
			background: rgb(57, 208, 131);
			transform: skew(-20deg);
			left: -22px;
			top: 0;
		}
	}
}
